span.icon.facebook{
    content: url('/img/social/Facebook.svg');
}
span.icon.facebook:hover{
    content: url('/img/social/hover/Facebook_fill.svg');
}
span.icon.facebook:active{
    content: url('/img/social/active/Facebook_active.svg');
}

span.icon.instagram{
    content: url('/img/social/Instagram.svg');
}
span.icon.instagram:hover{
    content: url('/img/social/hover/Instagram_fill.svg');
}
span.icon.instagram:active{
    content: url('/img/social/active/Instagram_active.svg');
}


span.icon.twitter{
    content: url('/img/social/Twitter.svg');
}
span.icon.twitter:hover{
    content: url('/img/social/hover/Twitter_fill.svg');
}
span.icon.twitter:active{
    content: url('/img/social/active/Twitter_active.svg');
}

span.icon.youtube{
    content: url('/img/social/Youtube.svg');
}
span.icon.youtube:hover{
    content: url('/img/social/hover/Youtube_fill.svg');
}
span.icon.youtube:active{
    content: url('/img/social/active/Youtube_active.svg');
}